# Node App Port Config
PORT=8000

# Client connection parameters (set to AWS RDS PostgreSQL)
PGHOST=your-database-hostname-here
PGPORT=5432
PGUSER=your-database-username-here
PGPASSWORD=your-database-password-here
PGDATABASE=postgres
PGSSL=true
